.img-container {
    height: 200px;
}

.pswp-gallery {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(356px, 356px));
    justify-content: center;
}

.pswp-home-0 {
    grid-row: span 2;
}

@media only screen and (max-width: 800px) {
    /*** Photoswipe ***/
    .pswp-gallery {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: fit-content;
    }

    .img-container {
        width: 356px;
        height: 200px;
    }

    .pswp-home-0 {
        grid-row: span 1;
        width: 100px;
    }

    .pswp-home-0 img {
        object-fit: cover;
        width: 267px;
    }
}