/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/banner/banner.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.banner_banner__gE9Di {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_image__hL_Zx {
    object-fit: cover;
    object-position: center;
    z-index: 1;
    background-attachment: fixed;
}

.banner_row__yLtsf {
    flex-direction: row;
}

.banner_column___PGin {
    flex-direction: column;
}

.banner_bottom-obj-pos__VTLyY {
    object-position: bottom;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/interviews/interviews.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
/*** introduction ***/
.interviews_intro-main__NLhcy {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.interviews_intro-main__NLhcy h1 {
    font-size: 28px;
}


.interviews_lines-div__LAZKW {
    margin: 4em 0 1.2em 0;
    display: flex;
    align-items: center;
}

.interviews_lines__NbBfD {
    margin: 0 1em;
    width: 80px;
    height: 2px;
    background-color: rgb(50, 50, 50);
}

.interviews_intro__SxCUG li {
    margin: 0 1.5em 0.5em 1.5em;
}

.interviews_q__OS1lc {
    margin: 0;
    font-weight: bold;
}

.interviews_q__OS1lc,
.interviews_p__herN8 {
    text-align: left;
}

.interviews_qa__6lvKY {
    margin: 0 0 3em 0;
}

@media only screen and (max-width: 800px) {
    .interviews_title__2HOzZ {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .interviews_title__2HOzZ h1 {
        margin: 0.25em 0 0 0;
    }

    .interviews_end-title__Reg_8 h1 {
        text-align: center;
    }

    .interviews_intro-img-container__5X9w3 {
        display: none;
    }

    .interviews_banner-container__g_X9H {
        flex-direction: column;
    }

    .interviews_title__2HOzZ p,
    .interviews_end-title__Reg_8 p {
        color: white;
        text-align: center;
        font-size: 20px;
    }

    
    .interviews_intro-main__NLhcy h1 {
        font-size: 24px;
    }

    .interviews_exp-flex__mmgHE {
        flex-direction: column;
    }

    .interviews_exp-img-container__jAd_y {
        margin: 0 0 2em 0;
        height: 20em;
    }

    .interviews_nav-grid__wEXCp {
        flex-direction: column;
    }

    .interviews_intro-main__NLhcy h1 {
        font-size: 28px;
        width: 170px;
        text-align: center;
    }

    .interviews_lines__NbBfD {
        width: 50px;
    }
}
