/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/banner/banner.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.banner_banner__gE9Di {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_image__hL_Zx {
    object-fit: cover;
    object-position: center;
    z-index: 1;
    background-attachment: fixed;
}

.banner_row__yLtsf {
    flex-direction: row;
}

.banner_column___PGin {
    flex-direction: column;
}

.banner_bottom-obj-pos__VTLyY {
    object-position: bottom;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/gallery/gallery.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.gallery_gallery__yBvvs {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery_between__oMQy7 {
    justify-content: space-between;
}

.gallery_grid__u6xkY {
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 1fr;
}

.gallery_gallery__yBvvs > * { flex: 1 1; }

.gallery_gallery-card__tvJVK {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_gallery-image__tZPKh{
    border-radius: 100%;
    margin: 0 1em;
    width: 20em;
    height: 20em;
    position: relative;
    overflow: hidden;
}

.gallery_image__tIA_m {
    object-fit: cover;
    object-position: center;
}

.gallery_contain__xLdWD {
    object-fit: contain;
}

.gallery_gallery-card__tvJVK h3 {
    margin: 0.5em 0 0 0;
}

.gallery_gallery-card__tvJVK p {
    text-align: start;
    line-height: 1.5em;
    font-style: normal;
}

.gallery_info__PfYug {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.gallery_gallery-text__Sy4Dk {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1em 0.5em 1em;
    flex-grow: 1;
    line-height: 20px;
    text-align: center;
}

.gallery_gallery-text__Sy4Dk p, .gallery_gallery-text__Sy4Dk h3 {
    color: #222;
    text-align: center;
    width: 100%;
}

.gallery_loc__gHQJn {
    font-size: 14px;
}

.gallery_read-more__lfxup {
    color:#127fc3;
    background-color: white;
    margin: 0.4em auto;
    padding: 0.6em 3em;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #127fc3;
}

.gallery_read-more__lfxup:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: #127fc3;
    color: white;
}

.gallery_oddflex__mh86C {
    flex-direction: row;
    grid-column: span 2;
}

.gallery_oddflex__mh86C .gallery_gallery-image__tZPKh {
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 2em 0 0;
}

.gallery_oddflex__mh86C .gallery_gallery-text__Sy4Dk {
    width: 50%;
}

.gallery_column__1zCtX {
    flex-direction: column;
}

.gallery_colors__Tskdw {
    display: flex;
    height: 5px;
    width: 100%;
}

.gallery_color-bar__Uyg81 {
    flex-grow: 1;
}

.gallery_blue__Spp1N {background-color: #3793d4}
.gallery_brown__cjQGy {background-color: #7b5733}
.gallery_yellow__2nBZG {background-color: #f9ab3e}

@media only screen and (max-width: 800px) {
    .gallery_gallery__yBvvs,
    .gallery_grid__u6xkY {
        width: 95%;
        flex-direction: column;
    }

    .gallery_grid__u6xkY {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery_read-more__lfxup {
        display: flex;
        justify-content: end;
    }

    .gallery_gallery-card__tvJVK {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-column: span 2;
    }

    .gallery_gallery-image__tZPKh {
        width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1em 0 0;
    }

    .gallery_oddflex__mh86C .gallery_gallery-image__tZPKh {
        margin: 0 1em 0 0;
    }

    .gallery_gallery-text__Sy4Dk {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .gallery_gallery-card__tvJVK {
        flex-direction: column;
    }

    .gallery_gallery-image__tZPKh {
        max-width: 500px;
        max-height: 500px;
        width: 80vw;
        height: 80vw;
        margin: 0 1em;
    }

    .gallery_gallery-text__Sy4Dk {
        width: 100%;
    }

    .gallery_oddflex__mh86C {
        flex-direction: column;
    }
    
    .gallery_oddflex__mh86C .gallery_gallery-image__tZPKh {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1em;
    }
    
    .gallery_oddflex__mh86C .gallery_gallery-text__Sy4Dk {
        width: 100%;
    }

    .gallery_loc__gHQJn {
        margin: 0 0 2.5em 0;
    }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/portfolio/portfolio.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/*** introduction ***/
.portfolio_intro-main__GIde0 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio_intro-main__GIde0 h1 {
    font-size: 28px;
}

.portfolio_intro-main__GIde0 p {
    text-align: center;
    margin: 0 0 3em 0;
}

.portfolio_lines-div__18wMg {
    margin: 4em 0 0.7em 0;
    display: flex;
    align-items: center;
}

.portfolio_lines__FRask {
    margin: 0 1em;
    width: 80px;
    height: 2px;
    background-color: rgb(50, 50, 50);
}

.portfolio_abroad-banner-section__cTPqh {
    margin: 6em 0 4em 0;
}

.portfolio_abroad-h2__aN_kC {
    color: white;
}

@media only screen and (max-width: 800px) {
    .portfolio_title__UgFog {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .portfolio_title__UgFog h1 {
        margin: 0.25em 0 0 0;
    }

    .portfolio_end-title__LDlhX h1 {
        text-align: center;
    }

    .portfolio_intro-img-container__Qbfbi {
        display: none;
    }

    .portfolio_banner-container__RQZHw {
        flex-direction: column;
    }

    .portfolio_title__UgFog p,
    .portfolio_end-title__LDlhX p {
        color: white;
        text-align: center;
        font-size: 20px;
    }

    
    .portfolio_intro-main__GIde0 h1 {
        font-size: 24px;
    }

    .portfolio_exp-flex__DCOHw {
        flex-direction: column;
    }

    .portfolio_exp-img-container__snySF {
        margin: 0 0 2em 0;
        height: 20em;
    }

    .portfolio_nav-grid__6kEyx {
        flex-direction: column;
    }

    .portfolio_intro-main__GIde0 h1 {
        font-size: 28px;
        width: 170px;
        text-align: center;
    }

    .portfolio_lines__FRask {
        width: 50px;
    }
}
